* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
}
.navbar-nav .nav-item .nav-link {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.btn {
  border-radius: 50px;
}

/*++++++++++HEADER++++++++++*/

.main-header {
  background: url(./Img/bg.png);
  background-size: cover;
  min-height: 550px;
  padding: 200px auto;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.5);
  min-height: 550px;
}
